[MainWindow]
pos=@Point(1920 0)
size=@Size(1920 1056)

[RepoTreeView]
expandedCategories-27dfcb8=Recently Updated

[Settings]
computerName=workhorse

[UsedServerAddresses]
main={{ seafile_server_address }}
